<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	
	</appSettings>
	<connectionStrings>
		<!--<add name="MyConnactionDB  " 
			 connectionString="Data Source=DESKTOP-P9P87HS; Initial Catalog= HotelManagementSystem;User Id = sa; Password=sa123456;"
			 providerName="System.Data.SqlClient"
			 />-->

		<add name="MyConnectionDB"
	 connectionString="Server =.; Database = HotelManagementSystem;User Id = sa; Password=sa123456;"
	 providerName="System.Data.SqlClient"
			 />
	
	</connectionStrings>
	
</configuration>