USE [master]
GO
/****** Object:  Database [HotelManagementSystem]    Script Date: 4/23/2026 2:47:23 AM ******/
CREATE DATABASE [HotelManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementSystem]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NULL,
	[ThirdName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[IDNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](20) NOT NULL,
	[CountryID] [int] NOT NULL,
	[NumberVisit] [int] NOT NULL,
	[SpecialRequests] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](80) NOT NULL,
	[IsAdmin] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[TypeRoomID] [int] NOT NULL,
	[Status] [smallint] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[LastUpdatedStatusByUserID] [int] NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRooms]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRooms](
	[TypeRoomID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Descriptions] [nvarchar](500) NULL,
	[FeesForDay] [smallmoney] NOT NULL,
	[FeesForMonth] [money] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_TypeRooms] PRIMARY KEY CLUSTERED 
(
	[TypeRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[LastDateTime] [datetime] NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[PaidFees] [money] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedByUserID] [int] NOT NULL,
	[LastUpdatedByUserID] [int] NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ExpireReservationsForTomorrow]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create View [dbo].[ExpireReservationsForTomorrow]
as
SELECT        dbo.Reservations.ReservationID, dbo.Rooms.RoomID, 
                         CASE WHEN Rooms.Status = 1 THEN 'Vacant' WHEN Rooms.Status = 2 THEN 'Reserved' WHEN Rooms.Status = 3 THEN 'Maintentenance' WHEN Rooms.Status = 4 THEN 'Cleaning' END AS StatusRoom, 
                         dbo.TypeRooms.TypeName, dbo.Reservations.LastDateTime, dbo.Reservations.CheckInDate, dbo.Reservations.CheckOutDate, 
                         CASE WHEN Reservations.Status = 1 THEN 'New' WHEN Reservations.Status = 2 THEN ' Cancelled' WHEN Reservations.Status = 3 THEN ' Completed' END AS ReservationStatus, dbo.Customers.CustomerID, 
                         dbo.Customers.FirstName + ' ' + dbo.Customers.SecondName + ' ' + dbo.Customers.ThirdName + ' ' + dbo.Customers.LastName AS FullName, dbo.Customers.IDNumber, dbo.Customers.ContactNumber, dbo.Users.UserName, 
                         dbo.Reservations.LastUpdatedByUserID
FROM            dbo.Reservations INNER JOIN
                         dbo.Rooms ON dbo.Reservations.RoomID = dbo.Rooms.RoomID INNER JOIN
                         dbo.TypeRooms ON dbo.Rooms.TypeRoomID = dbo.TypeRooms.TypeRoomID INNER JOIN
                         dbo.Customers ON dbo.Reservations.CustomerID = dbo.Customers.CustomerID INNER JOIN
                         dbo.Users ON dbo.Reservations.CreatedByUserID = dbo.Users.UserID
						 where Reservations.Status =1 And Cast (Reservations.CheckOutDate as Date)= Cast(GetDate()As Date);








GO
/****** Object:  View [dbo].[ExpiredReservations]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[ExpiredReservations]
as
SELECT        dbo.Reservations.ReservationID, dbo.Rooms.RoomID, 
                         CASE WHEN Rooms.Status = 1 THEN 'Vacant' WHEN Rooms.Status = 2 THEN 'Reserved' WHEN Rooms.Status = 3 THEN 'Maintentenance' WHEN Rooms.Status = 4 THEN 'Cleaning' END AS StatusRoom, 
                         dbo.TypeRooms.TypeName, dbo.Reservations.LastDateTime, dbo.Reservations.CheckInDate, dbo.Reservations.CheckOutDate, 
                         CASE WHEN Reservations.Status = 1 THEN 'New' WHEN Reservations.Status = 2 THEN ' Cancelled' WHEN Reservations.Status = 3 THEN ' Completed' END AS ReservationStatus, dbo.Customers.CustomerID, 
                         dbo.Customers.FirstName + ' ' + dbo.Customers.SecondName + ' ' + dbo.Customers.ThirdName + ' ' + dbo.Customers.LastName AS FullName, dbo.Customers.IDNumber, dbo.Customers.ContactNumber, dbo.Users.UserName, 
                         dbo.Reservations.LastUpdatedByUserID
FROM            dbo.Reservations INNER JOIN
                         dbo.Rooms ON dbo.Reservations.RoomID = dbo.Rooms.RoomID INNER JOIN
                         dbo.TypeRooms ON dbo.Rooms.TypeRoomID = dbo.TypeRooms.TypeRoomID INNER JOIN
                         dbo.Customers ON dbo.Reservations.CustomerID = dbo.Customers.CustomerID INNER JOIN
                         dbo.Users ON dbo.Reservations.CreatedByUserID = dbo.Users.UserID
						 where Reservations.Status =1 And Cast (Reservations.CheckOutDate as Date)< Cast(GetDate()As Date);

GO
/****** Object:  View [dbo].[RoomsDataView]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RoomsDataView]
AS
SELECT        dbo.Rooms.RoomID, dbo.TypeRooms.TypeName, dbo.TypeRooms.Descriptions, 
                         CASE WHEN Rooms.Status = 1 THEN 'Vacant' WHEN Rooms.Status = 2 THEN 'Reserved' WHEN Rooms.Status = 3 THEN 'Maintentenance' WHEN Rooms.Status = 4 THEN 'Cleaning' END AS Status, 
                         dbo.TypeRooms.FeesForDay, dbo.TypeRooms.FeesForMonth, dbo.Rooms.Notes, dbo.Rooms.CreatedByUserID
FROM            dbo.TypeRooms INNER JOIN
                         dbo.Rooms ON dbo.TypeRooms.TypeRoomID = dbo.Rooms.TypeRoomID
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NULL,
	[ThirdName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[IDNumber] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gendor] [smallint] NOT NULL,
	[Email] [nvarchar](70) NULL,
	[ContactNumber] [nvarchar](20) NOT NULL,
	[CountryID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeesInfoView]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
					 Create View  [dbo].[EmployeesInfoView]
as 

SELECT        Employees.EmployeeID, Employees.FirstName + ' ' +ISNULL( Employees.SecondName,' ') + ' ' + ISNULL(Employees.ThirdName,' ') + ' ' + Employees.LastName AS FullName, Employees.IDNumber, Employees.DateOfBirth, 
                         CASE WHEN Employees.Gendor = 0 THEN 'Male' WHEN Employees.Gendor = 1 THEN 'Female' END AS Gendor, Employees.Email, Employees.ContactNumber, Countries.CountryName
FROM            Countries INNER JOIN
                         Employees ON Countries.CountryID = Employees.CountryID;
					
GO
/****** Object:  View [dbo].[ReservationsInfo]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReservationsInfo]
AS
SELECT        dbo.Reservations.ReservationID, dbo.Rooms.RoomID, 
                         CASE WHEN Rooms.Status = 1 THEN 'Vacant' WHEN Rooms.Status = 2 THEN 'Reserved' WHEN Rooms.Status = 3 THEN 'Maintentenance' WHEN Rooms.Status = 4 THEN 'Cleaning' END AS StatusRoom, 
                         dbo.TypeRooms.TypeName, dbo.Reservations.LastDateTime, dbo.Reservations.CheckInDate, dbo.Reservations.CheckOutDate, 
                         CASE WHEN Reservations.Status = 1 THEN 'New' WHEN Reservations.Status = 2 THEN ' Cancelled' WHEN Reservations.Status = 3 THEN ' Completed' END AS ReservationStatus, dbo.Customers.CustomerID, 
                         dbo.Customers.FirstName + ' ' + dbo.Customers.SecondName + ' ' + dbo.Customers.ThirdName + ' ' + dbo.Customers.LastName AS FullName, dbo.Customers.IDNumber, dbo.Customers.ContactNumber, dbo.Users.UserName, 
                         dbo.Reservations.LastUpdatedByUserID
FROM            dbo.Reservations INNER JOIN
                         dbo.Rooms ON dbo.Reservations.RoomID = dbo.Rooms.RoomID INNER JOIN
                         dbo.TypeRooms ON dbo.Rooms.TypeRoomID = dbo.TypeRooms.TypeRoomID INNER JOIN
                         dbo.Customers ON dbo.Reservations.CustomerID = dbo.Customers.CustomerID INNER JOIN
                         dbo.Users ON dbo.Reservations.CreatedByUserID = dbo.Users.UserID
WHERE        (dbo.Reservations.Status = 1)
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](128) NULL,
	[ErrorTime] [datetime] NULL,
	[ErrorNumber] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLint] [int] NULL,
	[ErrorProcedure] [nvarchar](128) NULL,
	[ErrorMessage] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpiredResevationsRoomLog]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpiredResevationsRoomLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[StatusReservation] [int] NOT NULL,
	[StatusRoom] [smallint] NOT NULL,
	[LastUpdateByUserID] [int] NOT NULL,
 CONSTRAINT [PK__ExpiredR__5E5499A8672D445D] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupCustomers]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupCustomers](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalMembers] [int] NOT NULL,
	[SpecialGroupRequests] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[StatusGroup] [smallint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_GroupCustomers] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[TotalPaid] [money] NOT NULL,
	[TotalAfterDiscount] [money] NOT NULL,
	[AmountDiscount] [money] NOT NULL,
	[DiscountRate] [float] NOT NULL,
	[AmountVAT] [money] NOT NULL,
	[VAT_Rate] [float] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SideNecessities]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SideNecessities](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SideNecessities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [Email], [ContactNumber], [CountryID], [NumberVisit], [SpecialRequests], [CreatedDate], [CreatedByUserID]) VALUES (1, N'Mohammed', N'Hesham', N'Abdullah', N'Baggash', N'249', N'mm713574318moh@gmail.com', N'0505516620', 1, 2, NULL, NULL, 1)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [Email], [ContactNumber], [CountryID], [NumberVisit], [SpecialRequests], [CreatedDate], [CreatedByUserID]) VALUES (2, N'Sad', N'Ali', N'Mohammed', N'Hasaa', N'244', N'mm713574318moh@gmail.com', N'05054333', 2, 3, NULL, NULL, 1)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [Email], [ContactNumber], [CountryID], [NumberVisit], [SpecialRequests], [CreatedDate], [CreatedByUserID]) VALUES (8, N'1', N'22', N'2', N'22', N'22', N'mm713574318moh@gmail.com', N'22', 191, 1, N'22', CAST(N'2025-05-17T06:09:51.317' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [DateOfBirth], [Gendor], [Email], [ContactNumber], [CountryID], [ImagePath]) VALUES (1, N'Mohammed', N'Hesham', N'Abdullah', N'Baggash', N'249765', CAST(N'2001-01-01T00:00:00.000' AS DateTime), 0, N'moh753@gmail.net', N'50501001', 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [DateOfBirth], [Gendor], [Email], [ContactNumber], [CountryID], [ImagePath]) VALUES (2, N'Mohammed', N'H', N'A', N'Baggash', N'249', CAST(N'2007-05-06T04:34:23.283' AS DateTime), 0, NULL, N'0510657066', 191, N'C:\Users\Laptop Haseb\Desktop\Mohammed(MyImage).jpg')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [SecondName], [ThirdName], [LastName], [IDNumber], [DateOfBirth], [Gendor], [Email], [ContactNumber], [CountryID], [ImagePath]) VALUES (7, N'Sead', NULL, NULL, N'Ahmed', N'kj', CAST(N'2007-05-07T05:23:37.407' AS DateTime), 0, N'kjj@j.co', N'7654', 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLog] ON 

INSERT [dbo].[ErrorLog] ([LogID], [UserName], [ErrorTime], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLint], [ErrorProcedure], [ErrorMessage]) VALUES (1, N'sa', CAST(N'2026-04-21T21:44:08.663' AS DateTime), 515, 2, 16, 20, N'dbo.sp_Payments_AddNew', N'Cannot insert the value NULL into column ''ReservationID'', table ''HotelManagementSystem.dbo.Payments''; column does not allow nulls. INSERT fails.')
INSERT [dbo].[ErrorLog] ([LogID], [UserName], [ErrorTime], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLint], [ErrorProcedure], [ErrorMessage]) VALUES (2, N'sa', CAST(N'2026-04-23T00:15:52.087' AS DateTime), 515, 2, 16, 20, N'dbo.sp_Payments_AddNew', N'Cannot insert the value NULL into column ''ReservationID'', table ''HotelManagementSystem.dbo.Payments''; column does not allow nulls. INSERT fails.')
INSERT [dbo].[ErrorLog] ([LogID], [UserName], [ErrorTime], [ErrorNumber], [ErrorState], [ErrorSeverity], [ErrorLint], [ErrorProcedure], [ErrorMessage]) VALUES (3, N'sa', CAST(N'2026-04-23T00:18:38.590' AS DateTime), 515, 2, 16, 20, N'dbo.sp_Payments_AddNew', N'Cannot insert the value NULL into column ''ReservationID'', table ''HotelManagementSystem.dbo.Payments''; column does not allow nulls. INSERT fails.')
SET IDENTITY_INSERT [dbo].[ErrorLog] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupCustomers] ON 

INSERT [dbo].[GroupCustomers] ([GroupID], [CustomerID], [TotalMembers], [SpecialGroupRequests], [CreatedDate], [StatusGroup], [CreatedByUserID]) VALUES (4, 2, 3, N'With Serves', CAST(N'2025-05-17T04:26:04.280' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[GroupCustomers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [ReservationID], [CustomerID], [TypePayment], [PaymentDate], [TotalPaid], [TotalAfterDiscount], [AmountDiscount], [DiscountRate], [AmountVAT], [VAT_Rate], [Notes], [CreatedByUserID]) VALUES (1, 2, 2, 1, CAST(N'2025-06-04T04:30:18.273' AS DateTime), 190.0000, 0.0000, 0.0000, 0.34999999403953552, 28.5000, 0.15000000596046448, N'[None],,', 2)
INSERT [dbo].[Payments] ([PaymentID], [ReservationID], [CustomerID], [TypePayment], [PaymentDate], [TotalPaid], [TotalAfterDiscount], [AmountDiscount], [DiscountRate], [AmountVAT], [VAT_Rate], [Notes], [CreatedByUserID]) VALUES (2, 3, 2, 1, CAST(N'2025-06-04T04:38:19.430' AS DateTime), 270.0000, 0.0000, 0.0000, 0.34999999403953552, 40.5000, 0.15000000596046448, N'[None],,', 2)
INSERT [dbo].[Payments] ([PaymentID], [ReservationID], [CustomerID], [TypePayment], [PaymentDate], [TotalPaid], [TotalAfterDiscount], [AmountDiscount], [DiscountRate], [AmountVAT], [VAT_Rate], [Notes], [CreatedByUserID]) VALUES (3, 1, 2, 1, CAST(N'2025-06-04T00:00:00.000' AS DateTime), 2000.0000, 0.0000, 0.0000, 0.349999994039, 300.0000, 0.15, N'[None],,', 2)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [RoomID], [CustomerID], [DateTime], [LastDateTime], [CheckInDate], [CheckOutDate], [Status], [PaidFees], [Notes], [CreatedByUserID], [LastUpdatedByUserID]) VALUES (1, 1, 1, CAST(N'2022-01-05T00:00:00.000' AS DateTime), CAST(N'2025-06-16T22:32:44.097' AS DateTime), CAST(N'2025-06-16T22:35:40.560' AS DateTime), CAST(N'2025-06-16T22:35:40.560' AS DateTime), 3, 2000.0000, N'nckd', 2, 2)
INSERT [dbo].[Reservations] ([ReservationID], [RoomID], [CustomerID], [DateTime], [LastDateTime], [CheckInDate], [CheckOutDate], [Status], [PaidFees], [Notes], [CreatedByUserID], [LastUpdatedByUserID]) VALUES (2, 3, 2, CAST(N'2025-06-04T04:29:50.360' AS DateTime), CAST(N'2025-06-16T22:35:43.077' AS DateTime), CAST(N'2025-06-16T22:35:40.560' AS DateTime), CAST(N'2025-06-16T22:35:40.560' AS DateTime), 3, 190.0000, N'[None],,', 2, 2)
INSERT [dbo].[Reservations] ([ReservationID], [RoomID], [CustomerID], [DateTime], [LastDateTime], [CheckInDate], [CheckOutDate], [Status], [PaidFees], [Notes], [CreatedByUserID], [LastUpdatedByUserID]) VALUES (3, 4, 2, CAST(N'2025-06-04T04:38:19.407' AS DateTime), CAST(N'2025-06-16T22:35:55.347' AS DateTime), CAST(N'2025-06-16T22:35:51.953' AS DateTime), CAST(N'2025-06-16T22:35:51.953' AS DateTime), 3, 270.0000, N'[None],,', 2, 2)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [TypeRoomID], [Status], [Notes], [LastUpdatedStatusByUserID], [CreatedByUserID]) VALUES (1, 1, 1, N'none', 1, 1)
INSERT [dbo].[Rooms] ([RoomID], [TypeRoomID], [Status], [Notes], [LastUpdatedStatusByUserID], [CreatedByUserID]) VALUES (2, 2, 2, NULL, 1, 1)
INSERT [dbo].[Rooms] ([RoomID], [TypeRoomID], [Status], [Notes], [LastUpdatedStatusByUserID], [CreatedByUserID]) VALUES (3, 3, 2, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
INSERT [dbo].[SideNecessities] ([ID], [Name], [Type]) VALUES (1, N'VAT', N'0.15')
INSERT [dbo].[SideNecessities] ([ID], [Name], [Type]) VALUES (2, N'Basic Descount For Month', N'0.35')
INSERT [dbo].[SideNecessities] ([ID], [Name], [Type]) VALUES (3, N'Current Offer Discounts', N'0')
GO
INSERT [dbo].[TypeRooms] ([TypeRoomID], [TypeName], [Descriptions], [FeesForDay], [FeesForMonth], [CreatedByUserID]) VALUES (1, N'Single Room', N'A room with one bad and designed for one person', 80.0000, 1560.0000, 1)
INSERT [dbo].[TypeRooms] ([TypeRoomID], [TypeName], [Descriptions], [FeesForDay], [FeesForMonth], [CreatedByUserID]) VALUES (2, N'Double Room', N'Room with two bads or a double bad, suitable  for two people', 150.0000, 2925.0000, 1)
INSERT [dbo].[TypeRooms] ([TypeRoomID], [TypeName], [Descriptions], [FeesForDay], [FeesForMonth], [CreatedByUserID]) VALUES (3, N'Family Room', N'Larger room equipped to accommodate an entire family.', 190.0000, 3705.0000, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [IsAdmin], [IsActive], [EmployeeID]) VALUES (1, N'Admin', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1, 1, 1)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [IsAdmin], [IsActive], [EmployeeID]) VALUES (2, N'User1', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (suser_sname()) FOR [UserName]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [ErrorTime]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Countries]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Countries1] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Countries1]
GO
ALTER TABLE [dbo].[GroupCustomers]  WITH CHECK ADD  CONSTRAINT [FK_GroupCustomers_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[GroupCustomers] CHECK CONSTRAINT [FK_GroupCustomers_Customers]
GO
ALTER TABLE [dbo].[GroupCustomers]  WITH CHECK ADD  CONSTRAINT [FK_GroupCustomers_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupCustomers] CHECK CONSTRAINT [FK_GroupCustomers_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Reservations] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Reservations]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Customers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Rooms]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users1] FOREIGN KEY([LastUpdatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users1]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_TypeRooms] FOREIGN KEY([TypeRoomID])
REFERENCES [dbo].[TypeRooms] ([TypeRoomID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_TypeRooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Users]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Users1] FOREIGN KEY([LastUpdatedStatusByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Users1]
GO
ALTER TABLE [dbo].[TypeRooms]  WITH CHECK ADD  CONSTRAINT [FK_TypeRooms_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TypeRooms] CHECK CONSTRAINT [FK_TypeRooms_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddErrorLog]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddErrorLog]


as begin

insert into ErrorLog (ErrorMessage,
ErrorLint,
ErrorNumber,
ErrorProcedure
,ErrorSeverity,
ErrorState)
values (ERROR_MESSAGE(),ERROR_LINE(),ERROR_NUMBER()
,ERROR_PROCEDURE()
,ERROR_SEVERITY(),ERROR_STATE());

end
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteReservationProcess_Final]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompleteReservationProcess_Final]
    @RoomID INT,
    @CustomerID INT,
    @DateTime DATETIME,
    @LastDateTime DATETIME,
    @CheckInDate DATETIME,
    @CheckOutDate DATETIME,
    @Status int,
    @PaidFees FLOAT,
    @Notes NVARCHAR(MAX),
    @CreatedByUserID INT,
	

	@TypePayment TINYINT,
    @TotalPaid DECIMAL(18, 2),
    @TotalAfterDiscount DECIMAL(18, 2),
    @AmountDiscount DECIMAL(18, 2),
    @DiscountRate DECIMAL(5, 2),
    @AmountVAT DECIMAL(18, 2),
    @VAT_Rate DECIMAL(5, 2),
	@PaymentID int OutPut,
    @NewReservationID INT OUTPUT -- هذا هو المعامل المخرج
AS
BEGIN
    SET NOCOUNT ON;
	begin Transaction 
    BEGIN TRY

  if((SELECT TOP 1 Found=1 FROM Rooms WHERE RoomID = @RoomID AND Status=1 )=1)
  begin
        INSERT INTO [dbo].[Reservations] (
            [RoomID], [CustomerID], [DateTime], [LastDateTime], 
            [CheckInDate], [CheckOutDate], [Status], [PaidFees], 
            [Notes], [CreatedByUserID]
        )
        VALUES (
            @RoomID, @CustomerID, @DateTime, @LastDateTime, 
            @CheckInDate, @CheckOutDate, @Status, @PaidFees, 
            @Notes, @CreatedByUserID
        );

		        -- إسناد رقم الهوية المولد للمعامل المخرج
        SET @NewReservationID = SCOPE_IDENTITY();
		--Update the Visit Number for customer to Now how he come to our Hotel and give him a points.
		 if((SELECT TOP 1 Found=1 FROM Reservations WHERE CustomerID = @CustomerID AND Status=3 ORDER BY ReservationID DESC)=1)
		 begin 
		 UPDATE [dbo].[Customers]    
                     SET    [NumberVisit] =(select NumberVisit from
Customers where CustomerID=@CustomerID)  +1    
                              WHERE CustomerID=@CustomerID;
		 end


		declare @GetPaymentDate DateTime =GetDate();

EXEC	[dbo].[sp_Payments_AddNew]
		@ReservationID = @NewReservationID,
		@CustomerID = @CustomerID,
		@TypePayment = @TypePayment,
		@PaymentDate =@GetPaymentDate ,
		@TotalPaid = @TotalPaid,
		@TotalAfterDiscount = @TotalAfterDiscount,
		@AmountDiscount = @AmountDiscount,
		@DiscountRate = @DiscountRate,
		@AmountVAT = @AmountVAT,
		@VAT_Rate = @VAT_Rate,
		@Notes = @Notes,
		@CreatedByUserID = @CreatedByUserID,
		@PaymentID = @PaymentID OUTPUT;


		UPDATE [dbo].[Rooms] 
                SET [Status]=2
                ,[LastUpdatedStatusByUserID] =@CreatedByUserID 
                WHERE RoomID=@RoomID;

end
		Commit Transaction;

    END TRY
    BEGIN CATCH

        -- التراجع عن العملية في حالة الخطأ
 

        -- تعيين القيمة لـ -1 لتعريف التطبيق بفشل العملية
        SET @NewReservationID = -1;
        exec sp_AddErrorLog;
		-- إرسال تفاصيل الخطأ للأعلى
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_HanderRoomsAndExpiredReservation]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_HanderRoomsAndExpiredReservation]
   @LastUpdatedStatusByUserIDRoom INT,
    @RoomID int ,
	@StatusRoom smallint,
	 
	@ReservationID int ,
	@StatusReservations int
	as 
	begin

	 SET NOCOUNT ON;

	 begin try

	 begin Transaction ;

	 		Insert into ExpiredResevationsRoomLog(ReservationID,
		RoomID,CustomerID,StatusReservation,
		StatusRoom,LastUpdateByUserID)
		select ReservationID,RoomID,CustomerID,ReservationStatus,StatusRoom,
		  UserUpdatedID =@LastUpdatedStatusByUserIDRoom from ExpiredReservations;


        -- 1. Perform the Update
   UPDATE [dbo].[Rooms] 
                SET [Status]=1
                ,[LastUpdatedStatusByUserID] =@LastUpdatedStatusByUserIDRoom
                WHERE RoomID=(Select RoomID from ExpiredReservations);


				UPDATE [dbo].[Reservations]
                 SET [Status] =3
                 ,[LastUpdatedByUserID] =@LastUpdatedStatusByUserIDRoom 
                WHERE ReservationID=(select ReservationID from ExpiredReservations);

				   -- 2. Check if the row actually existed
        IF @@ROWCOUNT = 0
		begin 
		throw 50001,'There are not Ids by RoomId Or ReservationID. Transaction aborted ',1;
		end

		-- if every thing is fine , save change
	 COMMIT Transaction ;
	
	 end try


	 begin catch 
	   
	   if @@TRANCOUNT >0
	   RollBack Transaction



	           DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

		exec sp_AddErrorLog;



	 end catch


	end
GO
/****** Object:  StoredProcedure [dbo].[sp_Payments_AddNew]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Payments_AddNew]
@ReservationID INT,
    @CustomerID INT,
    @TypePayment TINYINT,
    @PaymentDate DATETIME,
    @TotalPaid DECIMAL(18, 2),
    @TotalAfterDiscount DECIMAL(18, 2),
    @AmountDiscount DECIMAL(18, 2),
    @DiscountRate DECIMAL(5, 2),
    @AmountVAT DECIMAL(18, 2),
    @VAT_Rate DECIMAL(5, 2),
    @Notes NVARCHAR(MAX),
    @CreatedByUserID INT ,
	@PaymentID int OutPut
	as
	begin
	
	begin try
	
	INSERT INTO [dbo].[Payments]
           ([ReservationID] ,[CustomerID]
           ,[TypePayment]  ,[PaymentDate]  ,[TotalPaid]
           ,[TotalAfterDiscount]
           ,[AmountDiscount]   ,[DiscountRate]
           ,[AmountVAT]  ,[VAT_Rate]  ,[Notes]
           ,[CreatedByUserID])
     VALUES
	 (@ReservationID,@CustomerID,@TypePayment,@PaymentDate
	 ,@TotalPaid,@TotalAfterDiscount,@AmountDiscount,@DiscountRate,
	 @AmountVAT,@VAT_Rate,@Notes,@CreatedByUserID);

	 set @PaymentID =SCOPE_IDENTITY();


	end Try
	begin catch 

	

	exec sp_AddErrorLog;
	throw;
	end catch 

	end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 4/23/2026 2:47:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create Procedure [dbo].[sp_UpdateUser]
@UserID int ,
@UserName nvarchar(30),
@IsActive bit ,
@EmployeeID int 

as 

begin 

update Users 
set UserName= @UserName,
IsActive=@IsActive ,
EmployeeID=@EmployeeID
where UserID=@UserID;

end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'if [0] means (Male) else if [1] means (Female)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employees', @level2type=N'COLUMN',@level2name=N'Gendor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 means (New) 2 means (Old)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GroupCustomers', @level2type=N'COLUMN',@level2name=N'StatusGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'New (1)  ,  Cancelled (2)   , Completed (3)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Reservations', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vacant=1, Reserved=2, Cleaning=3, Maintentenance=4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rooms', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Reservations"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Rooms"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TypeRooms"
            Begin Extent = 
               Top = 6
               Left = 278
               Bottom = 136
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Customers"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 270
               Left = 253
               Bottom = 400
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationsInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TypeRooms"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Rooms"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoomsDataView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoomsDataView'
GO
USE [master]
GO
